<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Métodos Numéricos: Método Bisección</title>
        <!-- Bootstrap Libreries -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Google libreries -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <!-- MathJax libreries -->
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <!-- Local libreries -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="column-navbar col col-lg-3">
                    <div class="container-navbar">
                        <ul class=" nav flex-column">
                            <li class="nav-item">
                                <a id="btn-inicio" class="nav-link btn-inicio" href="/">Inicio</a>
                            </li>
                            <div class="row">
                                <div class="col-4">
                                    <p class="separador">Métodos</p>
                                </div>
                                <div class="col">
                                    <hr class="separador-linea">
                                </div>
                            </div>
                            <li class="nav-item">
                                <a id="btn-biseccion" class="nav-link btn-biseccion-active" href="/biseccion">Bisección</a>
                            </li>
                            <li class="nav-item">
                                <a id="btn-regla-falsa" class="nav-link btn-regla-falsa" href="/regla-falsa">Regla Falsa</a>
                            </li>
                            <li class="nav-item">
                                <a id="btn-newton-rapshon" class="nav-link btn-newton-rapshon" href="/newton-rapshon">Newton Rapshon</a>
                            </li>
                            <li class="nav-item">
                                <a id="btn-secante" class="nav-link btn-secante" href="/secante">La Secante</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column-body col">
                    <!-- TAB BISECCION -->
                    <div id="biseccion" class="tab-content content-biseccion">
                        <div class="row">
                            <div class="col-7">
                                <hr class="separator-biseccion">
                            </div>
                            <div class="col">
                                <p id="title-biseccion"></p>Solución del Método de Bisección</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-equation">Ingrese la ecuación a evaluar</label>
                                    <input type="text" class="form-control form-control-sm" id="input-equation">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="input-a-value">Ingrese el valor de A</label>
                                            <input type="number" class="form-control form-control-sm" id="input-a-value" value="0">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="input-b-value input-b-value">Ingrese el valor de B</label>
                                            <input type="number" class="form-control form-control-sm" id="input-b-value" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <label for="input-iterations">Número max. de iteraciones:</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="number" class="form-control form-control-sm" id="input-iterations" 
                                            value="5" min="1" max="15">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-9">
                                        <label for="input-decimals">Número de decimales a tomar:</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="number" class="form-control form-control-sm" id="input-decimals" 
                                            value="4" min="2" max="12">
                                    </div>
                                </div>
                                <button class="btn-biseccion-evaluate mt-3">Evaluar ecuación</button>
                            </div>
                            <div class="col">
                                <div class="card-biseccion">
                                    <p>Si necesitas ayuda con la ecuación 
                                        <a href="#" data-toggle="modal" data-target="#exampleModal">haz click aquí</a> 
                                        para ver la sintaxis que se utiliza para que las ecuaciones ingresadas sean válidas.</p>
                                    <p>Recuerda que la eciación general para calcular el valor de Xi es: $$ x_i = \frac{a + b}{2} $$ </p>
                                    <p>Aquí hay un <a href="#">ejemplo</a> del Método de Bisección que te puede servir de referencia...</p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row mt-3">
                            <div class="col">
                                <hr class="separator-biseccion">
                            </div>
                            <div class="col-auto">
                                <p class="text-solution-biseccion">solución</p>
                            </div>
                            <div class="col">
                                <hr class="separator-biseccion">
                            </div>
                        </div>
                        <div class="content-biseccion-table mt-3">
                            <table class="table table-bordered table-sm table-responsive-sm">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">i</th>
                                        <th scope="col">a</th>
                                        <th scope="col">b</th>
                                        <th scope="col">F(a)</th>
                                        <th scope="col">F(b)</th>
                                        <th scope="col">Xi</th>
                                        <th scope="col">F(Xi)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="table-info">-</th>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                    </div>

                    <!-- MODAL EQUATIONS HELP -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ayuda: Sintaxis de ecuaciones</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Estos son los componentes, funciones y operadores válidos para las ecuaciones:</p>
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-bordered table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="align--middle">Función Teórica</th>
                                                        <th scope="col" class="align-middle">Función válida</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>$$ |x| $$</td>
                                                        <td class="align-middle">fabs(x)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ \sqrt{x} $$</td>
                                                        <td class="align-middle">sqrt(x)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ e $$</td>
                                                        <td class="align-middle">e</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ \log x $$</td>
                                                        <td class="align-middle">log(x)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col">
                                            <table class="table table-bordered table-sm">
                                                <thead></thead>
                                                <tbody>
                                                    <tr>
                                                        <td>$$ \pi $$</td>
                                                        <td class="align-middle">pi</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ \sin{x} $$</td>
                                                        <td class="align-middle">sin(x)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ \cos{x} $$</td>
                                                        <td class="align-middle">cos(x)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ \tan{x} $$</td>
                                                        <td class="align-middle">tan(x)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ x^2 $$</td>
                                                        <td class="align-middle">pow(x, 2)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col">
                                            <table class="table table-bordered table-sm">
                                                <thead></thead>
                                                <tbody>
                                                    <tr>
                                                        <td>$$ a + b $$</td>
                                                        <td class="align-middle">a + b</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ a - b $$</td>
                                                        <td class="align-middle">a - b</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ (a)(b) $$</td>
                                                        <td class="align-middle">a * b</td>
                                                    </tr>
                                                    <tr>
                                                        <td>$$ \cfrac{x}{2} $$</td>
                                                        <td class="align-middle">x / 2</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>