<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Métodos Numéricos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <body onload="tabClear(); document.getElementById('btn-biseccion').click()">
        <div class="container">
            <h1 class="title">Solució de métodos numéricos</h1>
            <div class="row">
                <div class="column-navbar col col-lg-3">
                    <div class="container-navbar">
                        <ul class=" nav flex-column">
                            <li class="nav-item">
                                <button id="btn-inicio" class="nav-link btn-inicio" onclick="tabController(event, 'inicio')">Inicio</button>
                            </li>
                            <div class="row">
                                <div class="col-4">
                                    <p class="separador">Métodos</p>
                                </div>
                                <div class="col">
                                    <hr class="separador-linea">
                                </div>
                            </div>
                            <li class="nav-item">
                                <button id="btn-biseccion" class="nav-link btn-biseccion" onclick="tabController(event, 'biseccion')">Bisección</button>
                            </li>
                            <li class="nav-item">
                                <button id="btn-regla-falsa" class="nav-link btn-regla-falsa" onclick="tabController(event, 'regla-falsa')">Regla Falsa</button>
                            </li>
                            <li class="nav-item">
                                <button id="btn-newton-rapshon" class="nav-link btn-newton-rapshon" onclick="tabController(event, 'newton-rapshon')">Newton Rapshon</button>
                            </li>
                            <li class="nav-item">
                                <button id="btn-secante" class="nav-link btn-secante" onclick="tabController(event, 'secante')">La Secante</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column-body col">
                    <!-- TAB INICIO -->
                    <div id="inicio" class="tab-content">
                        <h3>Inicio</h3>
                    </div>

                    <!-- TAB BISECCION -->
                    <div id="biseccion" class="tab-content content-biseccion">
                        <div class="row">
                            <div class="col-7">
                                <hr id="separator-biseccion">
                            </div>
                            <div class="col">
                                <p id="title-biseccion"></p>Solución del Método de Bisección</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="input-equation">Ingrese la ecuación a evaluar</label>
                                    <input type="text" class="form-control form-control-sm" id="input-equation" placeholder="">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="input-a-value">Ingrese el valor de A</label>
                                            <input type="number" class="form-control form-control-sm" id="input-a-value" value="0">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="input-b-value input-b-value">Ingrese el valor de B</label>
                                            <input type="number" class="form-control form-control-sm" id="input-b-value" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <label for="input-iterations">Número max. de iteraciones:</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="number" class="form-control form-control-sm" id="input-iterations" value="5">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-9">
                                        <label for="input-decimals">Número de decimales a tomar:</label>
                                    </div>
                                    <div class="col-3">
                                        <input type="number" class="form-control form-control-sm" id="input-decimals" value="4">
                                    </div>
                                </div>
                                <button class="btn btn-primary mt-4 float-right">Evaluar ecuación</button>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                        <!--<div class="row mt-3">
                            <div class="col">
                                <hr id="separator-biseccion">
                            </div>
                            <div class="col-auto">
                                <p id="text-solution-biseccion">solución</p>
                            </div>
                            <div class="col">
                                <hr id="separator-biseccion">
                            </div>
                        </div>
                        <div class="content-biseccion-table mt-3">
                            <table class="table table-bordered table-sm table-responsive-sm">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">i</th>
                                        <th scope="col">a</th>
                                        <th scope="col">b</th>
                                        <th scope="col">F(a)</th>
                                        <th scope="col">F(b)</th>
                                        <th scope="col">Xi</th>
                                        <th scope="col">F(Xi)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="table-info">-</th>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                    </div>

                    <div id="regla-falsa" class="tab-content">
                        <h3>Regla Falsa</h3>
                    </div>

                    <div id="newton-rapshon" class="tab-content">
                        <h3>Newton Rapshon</h3>
                    </div>

                    <div id="secante" class="tab-content">
                        <h3>La Secante</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>