body {
    font: 'Roboto', sans-serif;
    /* background-color: #F2F4F4; */
    background-color: #121820;
    height: 100%;
    width: 100%;
}
table {
    text-align: center;
}

.title {
    margin: 12px 12px 12px 12px;
    display: none;
}

.column-navbar {
    padding: 0;
    margin: 0;
}

.container-navbar {
    margin: 12px 12px 24px 24px;
}

.nav-link {
    background-color: transparent;
    margin: 4px 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s all;
    width: 100%;
}

.btn-inicio {
    border: 1px solid #85929E;
    color: #85929E;
}
.btn-inicio:hover {
    background-color: #85929E;
    color: white;
}
.btn-inicio-active {
    border-right: 1px solid #85929E;
    border-left: 12px solid #85929E;
    border-top: 1px solid #85929E;
    border-bottom: 1px solid #85929E;
    color: white;
}
.btn-inicio-active:hover {
    border: 1px solid #85929E;
    color: #85929E;
}

.btn-biseccion {
    border: 1px solid transparent;
    color: #85929E;
}
.btn-biseccion:hover {
    border: 1px solid #48C9B0;
    color: #48C9B0;
}
.btn-biseccion-active {
    border-right: 1px solid #1ABC9C;
    border-left: 12px solid #1ABC9C;
    border-top: 1px solid #1ABC9C;
    border-bottom: 1px solid #1ABC9C;
    color: white;
}
.btn-biseccion-active:hover {
    border: 1px solid #1ABC9C;
    color: #1ABC9C;
}

.btn-regla-falsa {
    border: 1px solid transparent;
    color: #85929E;
}
.btn-regla-falsa:hover {
    border: 1px solid #BB8FCE;
    color: #BB8FCE;
}
.btn-regla-falsa-active {
    border-right: 1px solid #BB8FCE;
    border-left: 12px solid #BB8FCE;
    border-top: 1px solid #BB8FCE;
    border-bottom: 1px solid #BB8FCE;
    color: white;
}
.btn-regla-falsa-active:hover {
    border: 1px solid #BB8FCE;
    color: #BB8FCE;
}

.btn-newton-rapshon {
    border: 1px solid transparent;
    color: #85929E;
}
.btn-newton-rapshon:hover {
    border: 1px solid #F1948A;
    color: #F1948A;
}
.btn-newton-rapshon-active {
    border-right: 1px solid #F1948A;
    border-left: 12px solid #F1948A;
    border-top: 1px solid #F1948A;
    border-bottom: 1px solid #F1948A;
    color: white;
}
.btn-newton-rapshon-active:hover {
    border: 1px solid #F1948A;
    color: #F1948A;
}

.btn-secante {
    border: 1px solid transparent;
    color: #85929E;
}
.btn-secante:hover {
    border: 1px solid #7FB3D5;
    color: #7FB3D5;
}
.btn-secante-active {
    border-right: 1px solid #7FB3D5;
    border-left: 12px solid #7FB3D5;
    border-top: 1px solid #7FB3D5;
    border-bottom: 1px solid #7FB3D5;
    color: white;
}
.btn-secante-active:hover {
    border: 1px solid #7FB3D5;
    color: #7FB3D5;
}

.separador {
    color: #566573;
    margin: 8px 12px;
}
.separador-linea {
    background-color: #ABB2B9;
    margin: 20px 12px 0 0;
}
.column-body {
    /* background-color: white; */
    background-color: #39434D;
    border-radius: 4px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 1);
    margin: 12px 24px 24px 12px;
    padding: 24px;
}

.tab-content {
    animation: fadeIn 300ms linear;
    color: #FBFCFC;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* METODO DE BISECCION -------------------------------------------- */
.separator-biseccion {
    background-color: #48C9B0;
    margin: 12px 0 0 0;
    padding: 0;
}
#title-biseccion, .text-solution-biseccion {
    margin: 0;
    padding: 0;
}
.btn-biseccion-evaluate {
    background-color: transparent;
    border-right: 1px solid #3498db;
    border-left: 12px solid #3498db;
    border-top: 1px solid #3498db;
    border-bottom: 1px solid #3498db;
    color: white;
    margin: 4px 0;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s all;
    width: 100%;
}
.btn-biseccion-evaluate:hover {
    border: 1px solid #3498db;
    color: #3498db;
}
.card-biseccion {
    border: 1px solid #48C9B0;
    border-radius: 4px;
    padding: 12px;
}