<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Métodos Numéricos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    </head>
    <body onload="tabController(event, 'inicio')">
        <div class="container">
            <h1 class="title">Solució de métodos numéricos</h1>
            <div class="row">
                <div class="column-navbar col col-lg-3">
                    <div class="container-navbar">
                        <ul class=" nav flex-column">
                            <li class="nav-item">
                                <button class="nav-link btn-inicio-active" onclick="tabController(event, 'inicio')">Inicio</button>
                            </li>
                            <div class="row">
                                <div class="col-4">
                                    <p class="separador">Métodos</p>
                                </div>
                                <div class="col">
                                    <hr class="separador-linea">
                                </div>
                            </div>
                            <li class="nav-item">
                                <button class="nav-link btn-biseccion" onclick="tabController(event, 'biseccion')">Bisección</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btn-regla-falsa" onclick="tabController(event, 'regla-falsa')">Regla Falsa</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btn-newton-rapshon" onclick="tabController(event, 'newton-rapshon')">Newton Rapshon</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btn-secante" onclick="tabController(event, 'secante')">La Secante</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column-body col">
                    <div id="inicio" class="tab-content">
                        <h3>Inicio</h3>
                    </div>
                    <div id="biseccion" class="tab-content">
                        <h3>Bisección</h3>
                    </div>
                    <div id="regla-falsa" class="tab-content">
                        <h3>Regla Falsa</h3>
                    </div>
                    <div id="newton-rapshon" class="tab-content">
                        <h3>Newton Rapshon</h3>
                    </div>
                    <div id="secante" class="tab-content">
                        <h3>La Secante</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>