<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Métodos Numéricos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    </head>
    <body onload="tabController(event, 'inicio')">
        <div class="container">
            <h1 class="title">Solució de métodos numéricos</h1>
            <div class="row">
                <div class="column-navbar col col-lg-3">
                    <div class="container-navbar">
                        <ul class=" nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link btn-inicio" href="/">Inicio</a>
                            </li>
                            <div class="row">
                                <div class="col-4">
                                    <p class="separador">Métodos</p>
                                </div>
                                <div class="col">
                                    <hr class="separador-linea">
                                </div>
                            </div>
                            <li class="nav-item">
                                <a class="nav-link btn-biseccion" href="biseccion">Bisección</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-regla-falsa" href="regla-falsa">Regla Falsa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-newton-rapshon" href="newton-rapshon">Newton Rapshon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-secante-active" href="secante">La Secante</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column-body col">
                    <h3>Secante</h3>
                </div>
            </div>
        </div>
    </body>
</html>