<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Page Not Found: 404</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_404.css') }}">
        <script src="{{ url_for('static', filename='js/_404.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <h2>Page not Found</h2>
        </div>
    </body>
</html>