<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block method_name %}{% endblock %}</title>
        <meta charset="utf-8">
        <!-- Bootstrap Libreries -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <!-- Google libreries -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <!-- MathJax libreries -->
        <script type="text/javascript" id="MathJax-script" async
                src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <!-- Local libreries -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_base.css') }}">
        <script src="{{ url_for('static', filename='js/structure.js') }}"></script>
        {% endblock %}
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="row mt-5">
                <div class="col-5">
                    <div class="card shadow">
                        <div class="card-header">
                            <div class="btn-group w-100">
                                <button class="btn btn-secondary dropdown-toggle w-100" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    data-display="static" aria-haspopup="true" aria-expanded="false">
                                    {{ self.method_name() }}
                                </button>
                                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/biseccion">Biseccion</a>
                                    <a class="dropdown-item" href="/regla-falsa">Regla Falsa</a>
                                    <a class="dropdown-item" href="/newton-rapshon">Newton Rapshon</a>
                                    <a class="dropdown-item" href="/secante">La Secante</a>
                                    <a class="dropdown-item" href="/punto-fijo">Punto Fijo</a>
                                    <a class="dropdown-item" href="/jacobi">Jacobi</a>
                                    <a class="dropdown-item" href="/gauss-seidel">Gauss Seidel</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/trapecio">Regla del Trapecio</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% block method_input %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    {% block content %}
                    {% endblock %}

                    <!-- MODALS -->
                    {% block modals %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>