<div class="card shadow-sm">
    <div class="card-header">
        <h5>¿Cómo funcionan las ecuaciones?</h5>
    </div>
    <div class="card-body">
        <p class="mt-1 mb-0">Si necesitas ayuda con la función acontinuación veras la sintaxis que se utiliza para que las funciones
            ingresadas sean válidas.<a data-toggle="collapse" href="#collapseFunctionHelper" role="button" aria-expanded="false"
                                       aria-controls="collapseFunctionHelper">
            Mostrar Ayuda
        </a></p>
    <div class="collapse mt-3" id="collapseFunctionHelper">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col" class="align--middle">Función Teórica</th>
                    <th scope="col" class="align-middle">Función válida</th>
                    <th scope="col" class="align--middle">Función Teórica</th>
                    <th scope="col" class="align-middle">Función válida</th>
                    <th scope="col" class="align--middle">Función Teórica</th>
                    <th scope="col" class="align-middle">Función válida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$$ |x| $$</td>
                    <td class="align-middle">fabs(x)</td>
                    <td>$$ \sqrt{x} $$</td>
                    <td class="align-middle">sqrt(x)</td>
                    <td>$$ e $$</td>
                    <td class="align-middle">e</td>
                </tr>
                <tr>
                    <td>$$ \log x $$</td>
                    <td class="align-middle">log(x)</td>
                    <td>$$ \pi $$</td>
                    <td class="align-middle">pi</td>
                    <td>$$ \sin{x} $$</td>
                    <td class="align-middle">sin(x)</td>
                </tr>
                <tr>
                    <td>$$ \cos{x} $$</td>
                    <td class="align-middle">cos(x)</td>
                    <td>$$ \tan{x} $$</td>
                    <td class="align-middle">tan(x)</td>
                    <td>$$ x^2 $$</td>
                    <td class="align-middle">pow(x, 2)</td>
                </tr>
                <tr>
                    <td>$$ (a)(b) $$</td>
                    <td class="align-middle">a * b</td>
                    <td>$$ \cfrac{x}{2} $$</td>
                    <td class="align-middle">x / 2</td>
                    <td></td>
                    <td class="align-middle"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>