{# Call the base content from the page #}
{% extends "_base.html" %}

{# The name of method, this are the title of page and the name show on the button of method #}
{% block method_name %}Método de Bisección{% endblock %}

{# Dir for get more information about the method #}
{% block method_info_dir %}https://es.wikipedia.org/wiki/M%C3%A9todo_de_bisecci%C3%B3n{% endblock %}

{# The content of form what are the input of method values #}
{% block method_input %}
<div>
    <form method="post">
        <label for="function">Ingrese la función a evaluar</label>
        <input class="form-control form-control-sm mb-2" id="function" type="text" name="function" placeholder="Function"
                       value="{% if solve_info %}{{ solve_info[0] }}{% endif %}" required>

        <div class="form-row mt-3">
            <div class="col">
                <label for="value-a">Valor de A</label>
                <input class="form-control form-control-sm" id="value-a" type="number" step="0.01"
                               placeholder="A" name="value-a" required
                               value="{% if solve_info %}{{ solve_info[1] }}{% endif %}">
            </div>
            <div class="col">
                <label for="value-b">Valor de B</label>
                <input class="form-control form-control-sm" id="value-b" type="number" step="0.01"
                       placeholder="B" name="value-b" required
                       value="{% if solve_info %}{{ solve_info[2] }}{% endif %}">
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col">
                <label for="iterations">Número de iteraciones</label>
                <input class="form-control form-control-sm" id="iterations"
                       value="{% if solve_info %}{{ solve_info[3] }}{% else %}5{% endif %}" max="15"
                       min="1" type="number" name="iterations">
            </div>
            <div class="col">
                <label for="decimals">Número de decimales</label>
                <input class="form-control form-control-sm" id="decimals"
                       value="{% if solve_info %}{{ solve_info[4] }}{% else %}4{% endif %}" max="12"
                       min="2" type="number" name="decimals">
            </div>
        </div>

        <button class="btn btn-sm btn-primary mt-3 float-right" type="submit">Evaluar Método</button>
    </form>
    <div class="collapse mt-3" id="collapse-help">
        <div class="card-help shadow">

        </div>
    </div>
</div>
{% endblock %}

{# this block contain the rest of information about the use of method, and the solve of problems #}
{% block content %}
<div>
    {% include "_how-to-use.html" %}
</div>

<div class="row align-self-baseline">
    <div class="col">
        <div class="tab">
            {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
    </div>
</div>

{% if solve == True %}
<div class="card shadow-sm mt-3 mb-5">
    <div class="card-header">
        <h5>Solución de método</h5>
    </div>
    <div class="card-body row mt-2">
        <div class="col">
            {% if solve_info %}
                {% if table_len == 1 %}
                <div class="card shadow w-100 text-white bg-dark border-danger">
                    <div class="card-body text-white">
                        <h5 class="card-title">Función: {{ solve_info[0] }}</h5>
                        <p class="card-text p-0 m-0">Intérvalos [A, B] respectivamente: [{{ solve_info[1] }},
                            {{ solve_info[2] }}]</p>
                        <p class="card-text p-0 m-0">Número de iteraciones implementadas: {{ solve_info[3] }}</p>
                        <p class="card-text p-0 m-0">Número de decimales tenidos en cuenta: {{ solve_info[4] }}</p>
                    </div>
                    <div class="card-footer border-danger">La función o los intervalos no cumples las condiciones óptimos
                        para llevar a cabo el método.</div>
                </div>
                {% elif table_len < solve_info[3] %}
                <div class="card shadow w-100 text-white bg-dark border-warning">
                    <div class="card-body text-white">
                        <h5 class="card-title">Función: {{ solve_info[0] }}</h5>
                        <p class="card-text p-0 m-0">Intérvalos [A, B] respectivamente: [{{ solve_info[1] }},
                            {{ solve_info[2] }}]</p>
                        <p class="card-text p-0 m-0">Número de iteraciones implementadas: {{ solve_info[3] }}</p>
                        <p class="card-text p-0 m-0">Número de decimales tenidos en cuenta: {{ solve_info[4] }}</p>
                    </div>
                    <div class="card-footer border-warning">La función o los intervalos no cumples las condiciones óptimos
                        para llevar a cabo el método de forma eficiente, por ello se finalizó antes de terminar todas las
                        iteraciones.</div>
                </div>
                {% else %}
                <div class="card shadow w-100 text-white bg-dark border-success">
                    <div class="card-body text-white">
                        <h5 class="card-title">Función: {{ solve_info[0] }}</h5>
                        <p class="card-text p-0 m-0">Intérvalos [A, B] respectivamente: [{{ solve_info[1] }},
                            {{ solve_info[2] }}]</p>
                        <p class="card-text p-0 m-0">Número de iteraciones implementadas: {{ solve_info[3] }}</p>
                        <p class="card-text p-0 m-0">Número de decimales tenidos en cuenta: {{ solve_info[4] }}</p>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col">
            <div class="content-table mt-3">
                <table class="table table-bordered table-sm table-responsive-sm table-dark">
                    <thead>
                        <tr>
                            <th scope="col">i</th>
                            <th scope="col">a</th>
                            <th scope="col">b</th>
                            <th scope="col">F(a)</th>
                            <th scope="col">F(b)</th>
                            <th scope="col">Xi</th>
                            <th scope="col">F(Xi)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in range(table_len) %}
                        <tr>
                            <td scope="row">{{ table[row][0] }}</td>
                            <td>{{ table[row][1] }}</td>
                            <td>{{ table[row][2] }}</td>
                            <td>{{ table[row][3] }}</td>
                            <td>{{ table[row][4] }}</td>
                            <td>{{ table[row][5] }}</td>
                            <td>{{ table[row][6] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}