{% extends "_base.html" %}
{% block title %} Método de la Regla Falsa {% endblock %}
{% block method_name %}Método de Newton Rapshon{% endblock %}
{% block method_info_dir %}https://es.wikipedia.org/wiki/M%C3%A9todo_de_Newton{% endblock %}
{% block method_input %}
<div>
    <form method="post">
        <div class="form-row">
            <div class="col-9">
                <label class="" for="function">Ingrese la función a evaluar</label>
                <input class="form-control form-control-sm mb-2" id="function" type="text" name="function"
                       placeholder="Function" value="{% if solve_info %}{{ solve_info[0] }}{% endif %}"
                       required>
            </div>
            <div class="col">
                <label class="" for="value-xi">Valor de Xi</label>
                <input class="form-control form-control-sm" id="value-xi" type="number" step="0.01"
                       placeholder="Xi" name="value-xi" required
                       value="{% if solve_info %}{{ solve_info[2] }}{% endif %}">
            </div>
        </div>
        <div class="form-group">
            <label class="" for="function-derivate">Ingrese la derivada de la función a evaluar</label>
            <input class="form-control form-control-sm mb-2" id="function-derivate" type="text"
                   name="function-derivate" placeholder="Function Derivada"
                   value="{% if solve_info %}{{ solve_info[1] }}{% endif %}" required>
        </div>
        <div class="form-row">
            <div class="col">
                <label class="" for="iterations">No. iteraciones:</label>
                <input class="form-control form-control-sm" id="iterations"
                       value="{% if solve_info %}{{ solve_info[3] }}{% else %}5{% endif %}" max="15"
                       min="1" type="number" name="iterations">
            </div>
            <div class="col">
                <label class="" for="decimals">No. decimales:</label>
                <input class="form-control form-control-sm" id="decimals"
                       value="{% if solve_info %}{{ solve_info[4] }}{% else %}2{% endif %}" max="12"
                       min="2" type="number" name="decimals">
            </div>
            <div class="col-5"></div>
        </div>

        <button class="btn btn-sm btn-primary mt-3 float-right" type="submit">Evaluar Método</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="mt-2">
    {% include "_how-to-use.html" %}
</div>

<div class="row">
    <div class="col">
        <div class="tab">
            {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% if solve == True %}
<div class="card mt-3 mb-5">
    <div class="card-header">
        <h5>Solución de método</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col mt-2">
                {% if solve_info %}
                    {% if table_len == 1 %}
                    <div class="card shadow w-100 text-white bg-dark border-danger">
                        <div class="card-body text-white">
                            <h5 class="card-title">Función: {{ solve_info[0] }}</h5>
                            <p class="card-text p-0 m-0">Valor del punto Xi: {{ solve_info[1] }}</p>
                            <p class="card-text p-0 m-0">Número de iteraciones implementadas: {{ solve_info[2] }}</p>
                            <p class="card-text p-0 m-0">Número de decimales tenidos en cuenta: {{ solve_info[3] }}</p>
                        </div>
                        <div class="card-footer border-danger">La función o el intervals no cumplen las condiciones óptimos
                            para llevar a cabo el método.</div>
                    </div>
                    {% elif table_len < solve_info[3] %}
                    <div class="card shadow w-100 text-white bg-dark border-warning">
                        <div class="card-body text-white">
                            <h5 class="card-title">Función: {{ solve_info[0] }}</h5>
                            <p class="card-text p-0 m-0">Valor del punto Xi: {{ solve_info[1] }}</p>
                            <p class="card-text p-0 m-0">Número de iteraciones implementadas: {{ solve_info[2] }}</p>
                            <p class="card-text p-0 m-0">Número de decimales tenidos en cuenta: {{ solve_info[3] }}</p>
                        </div>
                        <div class="card-footer border-warning">La función o el intervalo no cumplen las condiciones óptimas
                            para llevar a cabo el método de forma eficiente, por ello se finalizó antes de terminar todas las
                            iteraciones.</div>
                    </div>
                    {% else %}
                    <div class="card shadow w-100 text-white bg-dark border-success">
                        <div class="card-body text-white">
                            <h5 class="card-title">Función: {{ solve_info[0] }}</h5>
                            <p class="card-text p-0 m-0">Valor del punto Xi: {{ solve_info[1] }}</p>
                            <p class="card-text p-0 m-0">Número de iteraciones implementadas: {{ solve_info[2] }}</p>
                            <p class="card-text p-0 m-0">Número de decimales tenidos en cuenta: {{ solve_info[3] }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col">
                <div class="content-biseccion-table mt-3">
                    <table class="table table-bordered table-sm table-responsive-sm table-dark">
                        <thead>
                            <tr>
                                <th scope="col">i</th>
                                <th scope="col">Xi</th>
                                <th scope="col">F(Xi)</th>
                                <th scope="col">F'(Xi)</th>
                                <th scope="col">|xi - xi-1|</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in range(table_len) %}
                            <tr>
                                <td scope="row">{{ table[row][0] }}</td>
                                <td>{{ table[row][1] }}</td>
                                <td>{{ table[row][2] }}</td>
                                <td>{{ table[row][3] }}</td>
                                <td>{{ table[row][4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}