{% extends "_base.html" %}
{% block title %} Método del Punto Fijo {% endblock %}
{% block method_name %}Método de Punto Fijo{% endblock %}
{% block method_info_dir %}https://es.wikipedia.org/wiki/Punto_Fijo{% endblock %}
{% block method_input %}
<div>
    <form method="post">
        <div class="form-row">
            <div class="col">
                <label for="function">Ingrese la función a evaluar</label>
                <input class="form-control form-control-sm mb-2" id="function" type="text" name="function"
                       placeholder="Function" value="{% if solve_info %}{{ solve_info[0] }}{% endif %}"
                       required>
            </div>
            <div class="col-3">
                <label for="value-init">Valor inicial</label>
                <input class="form-control form-control-sm" id="value-init" type="number" step="0.01"
                       placeholder="x(0)" name="value-init" required
                       value="{% if solve_info %}{{ solve_info[3] }}{% endif %}">
            </div>
        </div>
        <div class="form-group">
            <label for="function">Ingrese la derivada de la función a evaluar</label>
            <input class="form-control form-control-sm mb-2" id="function-g" type="text" name="function-g"
                   placeholder="Function Derivada" value="{% if solve_info %}{{ solve_info[1] }}{% endif %}"
                   required>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="decimals">Error aceptado</label>
                <input class="form-control form-control-sm" id="value-x"
                       value="{% if solve_info %}{{ solve_info[4] }}{% else %}0.1{% endif %}" max="1" min="0"
                       type="number" step="0.001" required name="value-error" placeholder="x">
            </div>
            <div class="col">
                <label for="decimals">No. decimales</label>
                <input class="form-control form-control-sm" id="decimals"
                       value="{% if solve_info %}{{ solve_info[3] }}{% else %}2{% endif %}" max="12" min="2"
                       type="number"
                       name="decimals">
            </div>
            <div class="col-5">

            </div>
        </div>

        <button class="btn btn-sm btn-primary mt-3 float-right" type="submit">Evaluar Método</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="mt-3">
    {% include "_how-to-use.html" %}
</div>

<div class="row">
    <div class="col">
        <div class="tab">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% if solve == True %}
<div class="tab mt-4">
    <p class="tab-tag">Solución de método</p>
    {% if solve_info %}
    <div class="row mt-2">
        <div class="col">
            <div class="card shadow w-100 text-white bg-dark border-success">
            <div class="card-body text-white">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title p-0 m-0">Función</h5>
                        <p class="card-text p-0 m-0 ml-3">{{ solve_info[0] }}</p>
                        <h6 class="card-title p-o m-0 mt-3">Función derivada</h6>
                        <p class="card-text p-0 m-0 ml-3">{{ solve_info[1] }}</p>
                        <h6 class="card-title p-0 m-0 mt-3">Valor a inicial</h6>
                        <p class="card-text p-0 m-0 ml-3">{{ solve_info[2] }}</p>
                        <h6 class="card-title p-0 m-0 mt-3">Valor de error aceptable</h6>
                        <p class="card-text p-0 m-0 ml-3">{{ solve_info[3] }}</p>
                        <h6 class="card-title p-0 m-0 mt-3">Valor óptimo</h6>
                        <p class="card-text p-0 m-0 ml-3">{{ error }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col">
            <table class="table table-bordered table-sm table-responsive-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">x(i)</th>
                        <th scope="col">x Obtenido</th>
                        <th scope="col">Error R.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in range(table_len) %}
                    <tr>
                        <td scope="row">{{ table[row][0] }}</td>
                        <td>{{ table[row][1] }}</td>
                        <td>{{ table[row][2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}