{% extends "_base.html" %}
{% block title %} Método de La Secante {% endblock %}
{% block method_name %}Método de La Secante{% endblock %}
{% block method_info_dir %}https://es.wikipedia.org/wiki/M%C3%A9todo_de_la_secante{% endblock %}
{% block method_input %}
<div>
    <form method="post">
        <div class="form-row">
            <div class="col-8">
                <label for="function">Ingrese la función a evaluar</label>
            </div>
            <div class="col">
                <label for="value-x0">Valor de x0 y x1</label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-8">
                <input class="form-control form-control-sm mb-2" id="function" type="text" name="function"
                       placeholder="Function"
                       value="{% if solve_info %}{{ solve_info[0] }}{% endif %}" required>
            </div>
            <div class="col">
                <input class="form-control form-control-sm" id="value-x0" type="number" step="0.01"
                       placeholder="x0" name="value-x0" required
                       value="{% if solve_info %}{{ solve_info[1] }}{% endif %}">
            </div>
            <div class="col">
                <input class="form-control form-control-sm" id="value-x1" type="number" step="0.01"
                       placeholder="x1" name="value-x1" required
                       value="{% if solve_info %}{{ solve_info[2] }}{% endif %}">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label class="" for="iterations">No. iteraciones</label>
                <input class="form-control form-control-sm" id="iterations"
                    value="{% if solve_info %}{{ solve_info[3] }}{% else %}5{% endif %}" max="15"
                       min="1" type="number" name="iterations">
            </div>
            <div class="col">
                <label class="" for="decimals">No. decimales</label>
                <input class="form-control form-control-sm" id="decimals"
                value="{% if solve_info %}{{ solve_info[4] }}{% else %}2{% endif %}" max="12"
                       min="2" type="number" name="decimals">
            </div>
            <div class="col-5"></div>
        </div>

        <button class="btn btn-sm btn-primary mt-3 float-right" type="submit">Evaluar Método</button>
    </form>
</div>
{% endblock %}

{% block content %}
<div class="mt-3">
    {% include "_how-to-use.html" %}
</div>

<div class="row">
    <div class="col">
        <div class="tab">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% if solve == True %}
<div class="tab mt-4">
    <p class="tab-tag">Solución de método</p>
    <div class="row mt-2">
        <div class="col">
            <div class="card shadow w-100 text-white bg-dark border-success">
                <div class="card-body text-white">
                    <h5 class="card-title p-0 m-0">Función</h5>
                    <p class="p-0 m-0 ml-3">    {{ solve_info[0] }}</p>
                    <h6 class="card-title p-0 m-0 mt-3">Intérvalos [A, B] respectivamente</h6>
                    <p class="card-text p-0 m-0 ml-3">[{{ solve_info[1] }}, {{ solve_info[2] }}]</p>
                    <p class="card-text p-0 m-0 mt-3">Iteraciones implementadas</p>
                    <p class="card-text p-0 m-0 ml-3">{{ solve_info[3] }}</p>
                    <p class="card-text p-0 m-0">Decimales tenidos en cuenta</p>
                    <p class="card-text p-0 m-0 ml-3">{{ solve_info[4] }}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <table class="table table-bordered table-sm table-responsive-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">n</th>
                        <th scope="col">Xn</th>
                        <th scope="col">|X(n+1) - Xn1</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in range(table_len) %}
                    <tr>
                        <td scope="row">{{ table[row][0] }}</td>
                        <td>{{ table[row][1] }}</td>
                        <td>{{ table[row][2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}