{# Call the base content from the page #}
{% extends "_base.html" %}

{# The name of method, this are the title of page and the name show on the button of method #}
{% block method_name %}Regla del trapecio{% endblock %}

{# Dir for get more information about the method #}
{% block method_info_dir %}https://es.wikipedia.org/wiki/M%C3%A9todo_de_bisecci%C3%B3n{% endblock %}

{# The content of form what are the input of method values #}
{% block method_input %}
<div>
    <form method="post">
        <label for="function">Ingrese la función a evaluar</label>
        <input class="form-control form-control-sm mb-2" id="function" type="text" name="function" placeholder="Function"
                       value="{% if default_values %}{{ default_values[2] }}{% endif %}" required>

        <div class="form-row mt-3">
            <div class="col">
                <label for="value-a">Valor de A</label>
                <input class="form-control form-control-sm" id="value-a" type="number" step="0.01"
                               placeholder="A" name="value-a" required
                               value="{% if default_values %}{{ default_values[0] }}{% endif %}">
            </div>
            <div class="col">
                <label for="value-b">Valor de B</label>
                <input class="form-control form-control-sm" id="value-b" type="number" step="0.01"
                       placeholder="B" name="value-b" required
                       value="{% if default_values %}{{ default_values[1] }}{% endif %}">
            </div>
        </div>

        <div class="form-row mt-3">
            <div class="col">
                <label for="iterations">Número de iteraciones</label>
                <input class="form-control form-control-sm" id="iterations"
                       value="{% if default_values %}{{ default_values[3] }}{% else %}5{% endif %}" max="15"
                       min="1" type="number" name="iterations">
            </div>
            <div class="col">
                <label for="decimals">Número de decimales</label>
                <input class="form-control form-control-sm" id="decimals"
                       value="{% if default_values %}{{ default_values[4] }}{% else %}4{% endif %}" max="12"
                       min="2" type="number" name="decimals">
            </div>
        </div>
        <button class="btn btn-sm btn-primary mt-3 float-right" type="submit" name="solve">Evaluar Método</button>
    </form>
    <div class="collapse mt-3" id="collapse-help">
        <div class="card-help shadow">

        </div>
    </div>
</div>
{% endblock %}

{# this block contain the rest of information about the use of method, and the solve of problems #}
{% block content %}
<div>
    {% include "_how-to-use.html" %}
</div>

{# this block declare the main process of the method, if this are solved or evaluated, the result are show here #}
{% if solve == True %}
<div class="card shadow-sm mt-3 mb-5">
    <div class="card-header">
        <h5>Solución de método</h5>
    </div>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5 class="mb-1">Función</h5>
                    <p class="mb-1">{{ solve_info[0] }}</p>
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Función reemplazando valores</h5>
                    <p class="mb-1">{{ solve_info[1] }}</p>
                </li>
                <li class="list-group-item">
                    <h5 class="mb-1">Resultado final</h5>
                    <p class="mb-1">{{ solve_info[2] }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}